              <div class="panel panel-default">
                <div class="panel-heading inputs_row_holder" role="tab" id="collapseListGroupHeading{{Name}}">
                  <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseListGroup{{Name}}" aria-expanded="false" aria-controls="collapseListGroup{{Name}}">{{Name}}</a>
                  </h4>
                </div>
                <div id="collapseListGroup{{Name}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading{{Name}}">
                  <ul class="list-group coders_container"></ul>
                </div>
              </div>
