              <div class="panel panel-default">
                <div class="panel-heading outputs_row_holder" role="tab" id="collapseListGroupHeading{{Name}}">
                  <div class="panel-title in-channel hidden-xs">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseListGroup{{Name}}" aria-expanded="false" aria-controls="collapseListGroup{{Name}}"><h4>{{Name}}</h4></a>
                    <div class="progress" title="{{InChanLength.value}}/{{InChanCapacity.value}}"><span class="progress-bar-label">in</span>
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{InChanLength.value}}" aria-valuemin="0" aria-valuemax="{{InChanCapacity.value}}" style="width: {{InChanPercent}}%;">
                        <span class="sr-only">{{InChanPercent}}% Complete</span>
                      </div>
                    </div>
                    {{#hasMatchChannel}}
                    <div class="progress" title="{{MatchChanLength.value}}/{{MatchChanCapacity.value}}"><span class="progress-bar-label">match</span>
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{MatchChanLength.value}}" aria-valuemin="0" aria-valuemax="{{MatchChanCapacity.value}}" style="width: {{MatchChanPercent}}%;">
                        <span class="sr-only">{{MatchChanPercent}}% Complete</span>
                      </div>
                     </div>
                     {{/hasMatchChannel}}
                  </div>
                </div>
                <div id="collapseListGroup{{Name}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading{{Name}}">
                  <ul class="list-group coders_container"></ul>
                </div>
              </div>
